<div class="b-banner">
	<img src="" alt="" class="b-banner__img">
	<div class="b-banner__content">
		<div class="b-intro">
			<h1 class="b-intro__title">{{page.title}}</h1>
			{% if page.subtitle %}
			<div class="b-intro__content">{{page.subtitle}}</div>
			{% endif %}
		</div>
	</div>
</div>