<div class="b-subscribe" style="background-image: url({{sitebaseurl}}/img/{{site.settings.homepage.subscribe.cover}});">
	<div class="b-subscribe__inner">
		<div class="b-subscribe__header">
			<h4 class="b-subscribe__title">
				Subsribe to get latest articles
			</h4>
		</div>
		<div class="b-subscribe__content clearfix">
			<div class="b-subscribe__box"></div>
			<div class="b-subscribe__box"></div>
		</div>
	</div>
</div>