<div class="b-subscribe" style="background-image: url({{sitebaseurl}}/img/{{site.data.settings.homepage.subscribe.cover}});">
	<div class="b-subscribe__inner">
		<div class="b-subscribe__header">
			<h4 class="b-subscribe__title">
				Subscribe to get latest articles
			</h4>
		</div>
		<div class="b-subscribe__content clearfix">

			<form action="" class="b-form clearfix">
				<div class="b-form__box b-form__box_full">
					<div class="b-form__line b-form__line_mixed">
						<input type="text" class="b-form__text b-form__text_mixed" placeholder="Enter your email...">
						<button type="submit" class="b-form__button b-form__button_mixed button button_big">
							<span class="button__text">Submit </span> 
							<i class="fa fa-send-o"></i> 
						</button>
					</div>
					<!-- /.b-form__line -->
				</div>
				<!-- /.b-form__box -->
			</form>
			<!-- /.b-form -->

		</div>
	</div>
</div>