<div class="b-topbar">
	<div class="b-topbar__inner clearfix">
		<div class="b-topbar__box b-topbar__box_logo">
			<div class="b-logo">
				<h1 class="b-logo__title">
					<a href="/" class="b-logo__link">
						<img src="{{'/img/logo.png' | prepend: site.baseurl}}" alt="" class="b-logo__img">
					</a>
				</h1>
			</div>
		</div>
		<div class="b-topbar__box b-topbar__box_menu">
			<ul class="b-menu b-menu_top clearfix">
			{% for link in site.data.navigation.top_menu %}
				<li class="b-menu__item {% if link.url == page.permalink %} is-active {% endif %}">
					<a href="{{link.url}}" class="b-menu__link">{{link.title}}</a>
				</li>
				<!-- /.b-menu__item -->
			{% endfor %}
			</ul>
			<!-- /.b-menu b-menu_top -->
		</div>
	</div>
</div>