
body {
  font-size: 16px;
  min-height: 100vh;
  // available fonw-weights:  200, 300, 400, 600,
  color: #fff;
  @extend %lato;
}

.b-topbar{
	&__inner{
		max-width: $max_width;
		margin: auto;
	}
}