
body {
  font-size: 16px;
  min-height: 100vh;
  // available fonw-weights:  200, 300, 400, 600,
  color: #444;
  @extend %lato;
  background: #F7F7F7;
  // temp
  padding-bottom: 600px;
}

a{
	color: #8BBECD;
}

.button{
	padding-left: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	border: none;
	background: none;
	color: #8BBECD;
	cursor: pointer;
	border-bottom: 1px solid $border_color;
	@extend %oswald;
	letter-spacing: 1px;
	font-weight: 300;
	font-size: 14px;
	position: relative;
	transition: all 0.3s;
	display: inline-block;
	&_big{
		font-size: 20px;
	}
	&__icon{
		transition: all 0.3s;
		display: inline-block;
	}
	&__text{
		transition: all 0.3s;
		margin-left: 4px;
		margin-right: 4px;
		+ .fa {
			font-size: 13px;
			vertical-align: middle;
		}
	}
	&:before{
		content: '';
		position: absolute;
		width: 100%;
		height: 1px;
		background: #1A89AA;
		right: 0;
		left: 0;
		transition: all 0.4s;
		width: 0;
		bottom: -1px;
		margin: auto;
	}
	&:hover{
		color: #1A89AA;
		&:before{
			width: 100%;
		}
		.button__icon{
			transform: translateX(6px);
			opacity: 0.4;
		}
	}
}

.b-topbar{
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.2) 2%, rgba(0, 0, 0, 0.3) 100%);
	position: absolute;
	height: 50px;
	left: 0;
	z-index: 2;
	width: 100%;
	&__inner{
		max-width: $max_width;
		padding-left: 30px;
		padding-right: 30px;
		margin: auto;
		padding-top: 12px;
	}
	&__box{
		float: left;
		width: 30%;
		&_menu{
			float: right;
			width: auto;
			text-align: right;
		}
	}
}

.b-menu{
	margin: 0;
	padding: 0;
	list-style: none;
	padding-top: 5px;
	&__item{
		@extend %oswald;
		font-weight: 300;	
		float: left;
		margin-right: 15px;
		position: relative;
		&:last-child{
			margin-right: 0;
		}
	}
	&__link{
		color: #fff;
	}
}

.b-logo{
	&__img{
		max-height: 30px;
	}
}

.b-slider{
	// height: 100vh;
	background: #444;
	width: 100%;
	overflow: hidden;
	&__item{
		height: 100vh;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
	}
}

.b-slider-content{
	display: none;
}

.b-posts{
	padding-bottom: 30px;
	&__header{
		padding-top: 50px;
		padding-bottom: 30px;
		text-align: center;
	}
	&__title{
		font-size: 42px;
		@extend %oswald;
		margin-bottom: 12px;
		font-weight: 300;
		position: relative;
		letter-spacing: 2px;
		padding-bottom: 18px;
		&:before{
			content: '';
			position: absolute;
			bottom:0;
			left: 50%	;
			width: 70px;
			height: 1px;
			background: #4D3A31;
			margin-left: -45px;
		}
	}
	&__desc{
		margin-bottom: 15px;
		font-size: 16px;
		font-weight: 300;
	}
	&__inner{
		max-width: $max_width;
		padding-left: 30px;
		padding-right: 30px;
		margin: auto;
	}
	&__footer{
		padding-bottom: 40px;
		padding-top: 40px;
		text-align: center;
	}
	&__all{

	}
}

.b-posts-list{
	&__item{
		margin-bottom: 60px;
	}
}

.b-post{
	margin-bottom: 40px;
	position: relative;
	overflow: hidden;
	&__media{
		width: 50%;
		float: left;
		padding-right: 50px;
		position: relative;
		&.is-reversed{
			position: relative;
			right: -50%;
			padding-right: 0;
			padding-left: 50px;
			.b-post__date{
				left: 15px;
				&_year{
					left: auto;
					right: -25px;
					&::after{
						left: auto;
						right: 0;
					}
				}
				&_day{
					left: auto;
					right: -15px;
					&::after{
						left: auto;
						right:0;
					}
				}
			}
		}
		@media screen and (max-width: 480px){
			float: none;
			width: 100%;
			padding: 0;
			margin-left: 0;
			margin-right: 0;
			position: static;
			&.is-reversed{
				right: 0;
				padding-left: 0;
			}
		}
	}
	&__info{
		float: left;
		width: 50%;
		padding-bottom: 50px;
		padding-left: 50px;
		&.is-reversed{
			// position: relative;
			margin-left: -50%;
			padding-left: 0;
			padding-right: 50px;
			.b-post__link{
				right: auto;
				left:0;
			}
			.b-post__title{
				&::before{
					left: auto;
					right: -200px;
				}
				&::after{
					left: auto;
					right: -200px;
				}
			}
		}
		@media screen and (max-width: 480px){
			float: none;
			width: 100%;
			padding: 0;
			&.is-reversed{
				margin-left: 0;
				padding-right: 0;
			}
		}
	}
	&__link{
		position: absolute;
		right: 0;
		bottom: 20px;
	}
	&__date {
		position: absolute;
		right: 15px;
		background: #000;
		height: 70px;

		width: 70px;
		z-index: 2;
		color: #fff;
		@extend %oswald;
		bottom: 40px;
		text-align: center;
		&_year{
	    position: absolute;
	    top: -25px;
	    height: auto;
	    background: rgba(255,255,255, 0.7);
	    color: #000;
	    font-size: 11px;
	    left: -25px;
	    height: 35px;
	    width: 35px;
	    line-height: 35px;
	    z-index: -1;
	    font-weight: bold;
			font-weight: 500;
	    &::after {
			    position: absolute;
			    content: '';
			    bottom: 0;
			    width: 10px;
			    height: 10px;
			    background: #4b4e53;
			    left: 0;
			}	
		}
		&_month{
			line-height: 70px;
			font-size: 33px;
			font-weight: 300;
		}
		&_day{
			position: absolute;
			bottom: -25px;
			height: auto;
			background: rgba(255,255,255, 0.7);
			color: #000;
			font-size: 13px;
			left: -15px;
			height: 30px;
			width: 30px;
			line-height: 35px;
			z-index: -1;
			font-weight: bold;
	    &::after {
			    position: absolute;
			    content: '';
			    top: 0;
			    width: 15px;
			    height: 5px;
			    background: #4b4e53;
			    left: 0;
			}	
		}
	}
	&__title{
		position: relative;
		padding-bottom: 20px;
		margin-bottom: 20px;
		@extend %oswald;
		font-size: 28px;
		font-weight: 200;
		border-bottom: 3px solid #000;
		letter-spacing: 2px;
		a{
			color: #444;
		}
		&:before{
			content: '';
			transition: all 0.7s;
			width: 300px;
			left: -200px;
			bottom:-2px;
			background: #fff;
			height: 1px;
			position: absolute;
		}
		&::after{
			content: '';
			position: absolute;
			left: -200px;
			background: #fff;
			bottom: -7px;
			width: 11px;
			height: 11px;
			transition: all 0.7s;
			border-radius: 50%;
		}
	}
	&__desc{
		line-height: 1.5;
	}
	&:hover{
		.b-post__title{
			&::before{
				width: 150%;
				left: -250px;
				background: #ddd;
			}
			&::after{
				background: #ddd;
				left: -250px;
			}
		}
		.b-post__info.is-reversed .b-post__title{
			&::before{
				width: 150%;
				left: auto;
				right: -250px;
				background: #ddd;
			}
			&::after{
				background: #ddd;
				left: auto;
				right: -250px;
			}
		}
	}
}

.b-subscribe{
	background-color: #444;
	position: relative;
	background-position: center center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	&::before {
	    content: '';
	    position: absolute;
	    width: 100%;
	    height: 100%;
	    z-index: 1;
	    opacity: 0.6;
	    background: rgba(0, 0, 0, 0.7) url("../img/pattern.png") left top repeat;
	}
	&__inner{
		max-width: $max_width;
		padding-left: 30px;
		padding-right: 30px;
		margin: auto;
		padding-top: 40px;
		padding-bottom: 40px;
		position: relative;
		padding-top: 60px;
		z-index: 2;
	}
	&__header{
		margin-bottom: 30px;
	}
	&__title{
		font-size: 33px;
		@extend %oswald;
		text-align: center;
		letter-spacing: 2px;
		color: #fff;
		margin-bottom: 20px;
		font-weight: 200;
		text-transform: uppercase;
		padding-bottom: 20px;
		position: relative;
		&::before{
			content: '';
			position: absolute;
			bottom: 0;
			left: 50%;
			width: 70px;
			height: 1px;
			background: currentColor;
			margin-left: -45px;
		}
	}
	&___content{
		margin-left: -20px;
		margin-right: -25px;
	}
	&__box{
		float: left;
		width: 50%;
		padding-left: 20px;
		padding-right: 20px;
	}
}

.b-form{
	margin-left: -10px;
	margin-right: -10px;
	margin-bottom: -20px;
	input:focus,
	select:focus,
	textarea:focus,
	button:focus {
	    outline: none;
	}
	&__line{
		margin-bottom: 20px;
		&_mixed{
			max-width: 700px;
			margin-left: auto;
			margin-right: auto;
			position: relative;
		}
	}
	&__box{
		float: left;
		width: 50%;
		padding-left: 10px;
		padding-right: 10px;
		&_full{
			width: 100%;
		}
		&_big{
			width: 70%;
		}
		&_small{
			width: 30%;
		}
	}
	&__text{
		@extend %oswald;
		width: 100%;
		font-weight: 300;
		// height: 50px;
		display: block;
		background: none;
		color: #fff;
		font-size: 20px;
		padding-left: 5px;
		padding-right: 5px;
		padding-bottom: 5px;
		border: none;
		border-bottom: 1px solid $border_color;
		&_mixed{
			margin-right: 100px;
		}
		&._dark{
			color: #444;
		}
		&:focus{
			border-bottom-color: #1A89AA;
		}
	}
	&__button{
		// width: 100%;
		// overflow: hidden;
		&_mixed{
			position: absolute;
			right: 0;
			top: 0px;
			@-moz-document url-prefix() { 
			  top: 1px;
			}
		}
	}
}