/*  base variables and colors */

%oswald{
	font-family: 'Oswald', sans-serif;
}
%lato{
	font-family: 'Lato', sans-serif;
}

$border_color: #8BBECD;
$max_width: 1200px;

/* END base variables and colors */
