/*  base variables and colors */

%oswald{
	font-family: 'Oswald', sans-serif;
}
%lato{
	font-family: 'Lato', sans-serif;
}

%inner{
  padding-left: 30px;
  padding-right: 30px;
  margin: auto;
  max-width: 1200px;
  &.full-width{
    max-width: 100%;
  }
}

$border_color: #8BBECD;
$max_width: 1200px;

@mixin optional-at-root($sel) {
  @at-root #{if(not &, $sel, selector-append(&, $sel))} {
    @content;
  }
}

@mixin placeholder {
  @include optional-at-root('::-webkit-input-placeholder') {
    @content;
  }

  @include optional-at-root(':-moz-placeholder') {
    @content;
  }

  @include optional-at-root('::-moz-placeholder') {
    @content;
  }

  @include optional-at-root(':-ms-input-placeholder') {
    @content;
  }
}